@media (max-width: 719px) {
	body {
	min-width: 320px;
	}
}
@media (min-width: 720px) and (max-width: 959px) {
	body {
	min-width: 720px;
	}
}
@media (min-width: 960px) {
	body {
	min-width: 960px;
	}
}

/* `Container
----------------------------------------------------------------------------------------------------*/
@media (max-width: 719px) {
	.container_12 {
	margin-left: auto;
	margin-right: auto;
	}
	.container_16 {
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	}
}
@media (min-width: 720px) and (max-width: 959px) {
	.container_12,
	.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
	}
	.container_16 .container_12_sm {
	width: 100%;
	}
}
@media screen and (min-width: 960px) {
	.container_12,
	.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	}
}

.grid_12 .container_12,
.grid_16 .container_12 {
	width: 100%;
}

/* responsive >> Global
----------------------------------------------------------------------------------------------------*/

@media (max-width: 719px) {
	.hidden_xs,
	.show_sm,
	.show_lg {
	display: none !important;
	}
	.show_xs {
	display: block;
	}
	.margin_xs_10 {
	margin-left: 10px;
	margin-right: 10px;
	}
	.container_12.margin_xs_0,
	.container_12 .margin_xs_0,
	.container_16.margin_xs_0,
	.container_16 .margin_xs_0 {
	width: 100% !important;
	}
	.margin_xs_0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	}
}
@media (min-width: 720px) and (max-width: 959px) {
	.hidden_sm,
	.show_xs,
	.show_lg {
	display: none !important;
	}
	.show_sm {
	display: block;
	}
	.margin_sm_10 {
	margin-left: 10px;
	margin-right: 10px;
	}
	.container_12.margin_sm_0,
	.container_12 .margin_sm_0,
	.container_16.margin_sm_0,
	.container_16 .margin_sm_0 {
	width: 100% !important;
	}
	.margin_sm_0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	}
}
@media screen and (min-width: 960px) {
	.hidden_lg,
	.show_xs,
	.show_sm {
	display: none !important;
	}
	.show_lg {
	display: block;
	}
}

@media (max-width: 719px) {
	/* =Grid >> Global
	--------------------------------------------------------------------------------*/

	.grid_1_xs,
	.grid_2_xs,
	.grid_3_xs,
	.grid_4_xs,
	.grid_5_xs,
	.grid_6_xs,
	.grid_7_xs,
	.grid_8_xs,
	.grid_9_xs,
	.grid_10_xs,
	.grid_11_xs,
	.grid_12_xs,
	.grid_13_xs,
	.grid_14_xs,
	.grid_15_xs,
	.grid_16_xs
	{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	}

	.container_12 .grid_3_xs,
	.container_16 .grid_4_xs
	{
	width: 23%;
	}

	.container_12 .grid_6_xs,
	.container_16 .grid_8_xs
	{
	width: 48%;
	}

	.container_12 .grid_9_xs,
	.container_16 .grid_12_xs
	{
	width: 73%;
	}

	.container_12 .grid_12_xs,
	.container_16 .grid_16_xs
	{
	width: 98%;
	}

	/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
	--------------------------------------------------------------------------------*/

	.alpha
	{
	margin-left: 0;
	}

	.omega
	{
	margin-right: 0;
	}

	/* =Grid >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .grid_1_xs
	{
	width: 6.333%;
	}

	.container_12 .grid_2_xs
	{
	width: 14.666%;
	}

	.container_12 .grid_4_xs
	{
	width: 31.333%;
	}

	.container_12 .grid_5_xs
	{
	width: 39.666%;
	}

	.container_12 .grid_7_xs
	{
	width: 56.333%;
	}

	.container_12 .grid_8_xs
	{
	width: 64.666%;
	}

	.container_12 .grid_10_xs
	{
	width: 81.333%;
	}

	.container_12 .grid_11_xs
	{
	width: 89.666%;
	}

	/* =Grid >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .grid_1_xs
	{
	width: 4.25%;
	}

	.container_16 .grid_2_xs
	{
	width: 10.5%;
	}

	.container_16 .grid_3_xs
	{
	width: 16.75%;
	}

	.container_16 .grid_5_xs
	{
	width: 29.25%;
	}

	.container_16 .grid_6_xs
	{
	width: 35.5%;
	}

	.container_16 .grid_7_xs
	{
	width: 41.75%;
	}

	.container_16 .grid_9_xs
	{
	width: 54.25%;
	}

	.container_16 .grid_10_xs
	{
	width: 60.5%;
	}

	.container_16 .grid_11_xs
	{
	width: 66.75%;
	}

	.container_16 .grid_13_xs
	{
	width: 79.25%;
	}

	.container_16 .grid_14_xs
	{
	width: 85.5%;
	}

	.container_16 .grid_15_xs
	{
	width: 91.75%;
	}

	/* =Prefix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_3_xs,
	.container_16 .prefix_4_xs
	{
	padding-left: 25%;
	}

	.container_12 .prefix_6_xs,
	.container_16 .prefix_8_xs
	{
	padding-left: 50%;
	}

	.container_12 .prefix_9_xs,
	.container_16 .prefix_12_xs
	{
	padding-left: 75%;
	}

	/* =Prefix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_1_xs
	{
	padding-left: 8.333%;
	}

	.container_12 .prefix_2_xs
	{
	padding-left: 16.666%;
	}

	.container_12 .prefix_4_xs
	{
	padding-left: 33.333%;
	}

	.container_12 .prefix_5_xs
	{
	padding-left: 41.666%;
	}

	.container_12 .prefix_7_xs
	{
	padding-left: 58.333%;
	}

	.container_12 .prefix_8_xs
	{
	padding-left: 66.666%;
	}

	.container_12 .prefix_10_xs
	{
	padding-left: 83.333%;
	}

	.container_12 .prefix_11_xs
	{
	padding-left: 91.666%;
	}

	/* =Prefix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .prefix_1_xs
	{
	padding-left: 6.25%;
	}

	.container_16 .prefix_2_xs
	{
	padding-left: 12.5%;
	}

	.container_16 .prefix_3_xs
	{
	padding-left: 18.75%;
	}

	.container_16 .prefix_5_xs
	{
	padding-left: 31.25%;
	}

	.container_16 .prefix_6_xs
	{
	padding-left: 37.5%;
	}

	.container_16 .prefix_7_xs
	{
	padding-left: 43.75%;
	}

	.container_16 .prefix_9_xs
	{
	padding-left: 56.25%;
	}

	.container_16 .prefix_10_xs
	{
	padding-left: 62.5%;
	}

	.container_16 .prefix_11_xs
	{
	padding-left: 68.75%;
	}

	.container_16 .prefix_13_xs
	{
	padding-left: 81.25%;
	}

	.container_16 .prefix_14_xs
	{
	padding-left: 87.5%;
	}

	.container_16 .prefix_15_xs
	{
	padding-left: 93.75%;
	}

	/* =Suffix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_3_xs,
	.container_16 .suffix_4_xs
	{
	padding-right: 25%;
	}

	.container_12 .suffix_6_xs,
	.container_16 .suffix_8_xs
	{
	padding-right: 50%;
	}

	.container_12 .suffix_9_xs,
	.container_16 .suffix_12_xs
	{
	padding-right: 75%;
	}

	/* =Suffix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_1_xs
	{
	padding-right: 8.333%;
	}

	.container_12 .suffix_2_xs
	{
	padding-right: 16.666%;
	}

	.container_12 .suffix_4_xs
	{
	padding-right: 33.333%;
	}

	.container_12 .suffix_5_xs
	{
	padding-right: 41.666%;
	}

	.container_12 .suffix_7_xs
	{
	padding-right: 58.333%;
	}

	.container_12 .suffix_8_xs
	{
	padding-right: 66.666%;
	}

	.container_12 .suffix_10_xs
	{
	padding-right: 83.333%;
	}

	.container_12 .suffix_11_xs
	{
	padding-right: 91.666%;
	}

	/* =Suffix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .suffix_1_xs
	{
	padding-right: 6.25%;
	}

	.container_16 .suffix_2_xs
	{
	padding-right: 16.5%;
	}

	.container_16 .suffix_3_xs
	{
	padding-right: 18.75%;
	}

	.container_16 .suffix_5_xs
	{
	padding-right: 31.25%;
	}

	.container_16 .suffix_6_xs
	{
	padding-right: 37.5%;
	}

	.container_16 .suffix_7_xs
	{
	padding-right: 43.75%;
	}

	.container_16 .suffix_9_xs
	{
	padding-right: 56.25%;
	}

	.container_16 .suffix_10_xs
	{
	padding-right: 62.5%;
	}

	.container_16 .suffix_11_xs
	{
	padding-right: 68.75%;
	}

	.container_16 .suffix_13_xs
	{
	padding-right: 81.25%;
	}

	.container_16 .suffix_14_xs
	{
	padding-right: 87.5%;
	}

	.container_16 .suffix_15_xs
	{
	padding-right: 93.75%;
	}
}

@media (min-width: 720px) and (max-width: 959px) {
	/* =Grid >> Global
	--------------------------------------------------------------------------------*/

	.grid_1_sm,
	.grid_2_sm,
	.grid_3_sm,
	.grid_4_sm,
	.grid_5_sm,
	.grid_6_sm,
	.grid_7_sm,
	.grid_8_sm,
	.grid_9_sm,
	.grid_10_sm,
	.grid_11_sm,
	.grid_12_sm,
	.grid_13_sm,
	.grid_14_sm,
	.grid_15_sm,
	.grid_16_sm
	{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	}

	.container_12 .grid_3_sm,
	.container_16 .grid_4_sm
	{
	width: 23%;
	}

	.container_12 .grid_6_sm,
	.container_16 .grid_8_sm
	{
	width: 48%;
	}

	.container_12 .grid_9_sm,
	.container_16 .grid_12_sm
	{
	width: 73%;
	}

	.container_12 .grid_12_sm,
	.container_16 .grid_16_sm
	{
	width: 98%;
	}

	/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
	--------------------------------------------------------------------------------*/

	.alpha
	{
	margin-left: 0;
	}

	.omega
	{
	margin-right: 0;
	}

	/* =Grid >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .grid_1_sm
	{
	width: 6.333%;
	}

	.container_12 .grid_2_sm
	{
	width: 14.666%;
	}

	.container_12 .grid_4_sm
	{
	width: 31.333%;
	}

	.container_12 .grid_5_sm
	{
	width: 39.666%;
	}

	.container_12 .grid_7_sm
	{
	width: 56.333%;
	}

	.container_12 .grid_8_sm
	{
	width: 64.666%;
	}

	.container_12 .grid_10_sm
	{
	width: 81.333%;
	}

	.container_12 .grid_11_sm
	{
	width: 89.666%;
	}

	/* =Grid >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .grid_1_sm
	{
	width: 4.25%;
	}

	.container_16 .grid_2_sm
	{
	width: 10.5%;
	}

	.container_16 .grid_3_sm
	{
	width: 16.75%;
	}

	.container_16 .grid_5_sm
	{
	width: 29.25%;
	}

	.container_16 .grid_6_sm
	{
	width: 35.5%;
	}

	.container_16 .grid_7_sm
	{
	width: 41.75%;
	}

	.container_16 .grid_9_sm
	{
	width: 54.25%;
	}

	.container_16 .grid_10_sm
	{
	width: 60.5%;
	}

	.container_16 .grid_11_sm
	{
	width: 66.75%;
	}

	.container_16 .grid_13_sm
	{
	width: 79.25%;
	}

	.container_16 .grid_14_sm
	{
	width: 85.5%;
	}

	.container_16 .grid_15_sm
	{
	width: 91.75%;
	}

	/* =Prefix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_3_sm,
	.container_16 .prefix_4_sm
	{
	padding-left: 25%;
	}

	.container_12 .prefix_6_sm,
	.container_16 .prefix_8_sm
	{
	padding-left: 50%;
	}

	.container_12 .prefix_9_sm,
	.container_16 .prefix_12_sm
	{
	padding-left: 75%;
	}

	/* =Prefix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_1_sm
	{
	padding-left: 8.333%;
	}

	.container_12 .prefix_2_sm
	{
	padding-left: 16.666%;
	}

	.container_12 .prefix_4_sm
	{
	padding-left: 33.333%;
	}

	.container_12 .prefix_5_sm
	{
	padding-left: 41.666%;
	}

	.container_12 .prefix_7_sm
	{
	padding-left: 58.333%;
	}

	.container_12 .prefix_8_sm
	{
	padding-left: 66.666%;
	}

	.container_12 .prefix_10_sm
	{
	padding-left: 83.333%;
	}

	.container_12 .prefix_11_sm
	{
	padding-left: 91.666%;
	}

	/* =Prefix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .prefix_1_sm
	{
	padding-left: 6.25%;
	}

	.container_16 .prefix_2_sm
	{
	padding-left: 12.5%;
	}

	.container_16 .prefix_3_sm
	{
	padding-left: 18.75%;
	}

	.container_16 .prefix_5_sm
	{
	padding-left: 31.25%;
	}

	.container_16 .prefix_6_sm
	{
	padding-left: 37.5%;
	}

	.container_16 .prefix_7_sm
	{
	padding-left: 43.75%;
	}

	.container_16 .prefix_9_sm
	{
	padding-left: 56.25%;
	}

	.container_16 .prefix_10_sm
	{
	padding-left: 62.5%;
	}

	.container_16 .prefix_11_sm
	{
	padding-left: 68.75%;
	}

	.container_16 .prefix_13_sm
	{
	padding-left: 81.25%;
	}

	.container_16 .prefix_14_sm
	{
	padding-left: 87.5%;
	}

	.container_16 .prefix_15_sm
	{
	padding-left: 93.75%;
	}

	/* =Suffix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_3_sm,
	.container_16 .suffix_4_sm
	{
	padding-right: 25%;
	}

	.container_12 .suffix_6_sm,
	.container_16 .suffix_8_sm
	{
	padding-right: 50%;
	}

	.container_12 .suffix_9_sm,
	.container_16 .suffix_12_sm
	{
	padding-right: 75%;
	}

	/* =Suffix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_1_sm
	{
	padding-right: 8.333%;
	}

	.container_12 .suffix_2_sm
	{
	padding-right: 16.666%;
	}

	.container_12 .suffix_4_sm
	{
	padding-right: 33.333%;
	}

	.container_12 .suffix_5_sm
	{
	padding-right: 41.666%;
	}

	.container_12 .suffix_7_sm
	{
	padding-right: 58.333%;
	}

	.container_12 .suffix_8_sm
	{
	padding-right: 66.666%;
	}

	.container_12 .suffix_10_sm
	{
	padding-right: 83.333%;
	}

	.container_12 .suffix_11_sm
	{
	padding-right: 91.666%;
	}

	/* =Suffix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .suffix_1_sm
	{
	padding-right: 6.25%;
	}

	.container_16 .suffix_2_sm
	{
	padding-right: 16.5%;
	}

	.container_16 .suffix_3_sm
	{
	padding-right: 18.75%;
	}

	.container_16 .suffix_5_sm
	{
	padding-right: 31.25%;
	}

	.container_16 .suffix_6_sm
	{
	padding-right: 37.5%;
	}

	.container_16 .suffix_7_sm
	{
	padding-right: 43.75%;
	}

	.container_16 .suffix_9_sm
	{
	padding-right: 56.25%;
	}

	.container_16 .suffix_10_sm
	{
	padding-right: 62.5%;
	}

	.container_16 .suffix_11_sm
	{
	padding-right: 68.75%;
	}

	.container_16 .suffix_13_sm
	{
	padding-right: 81.25%;
	}

	.container_16 .suffix_14_sm
	{
	padding-right: 87.5%;
	}

	.container_16 .suffix_15_sm
	{
	padding-right: 93.75%;
	}
}

@media screen and (min-width: 960px) {

	/* =Grid >> Global
	--------------------------------------------------------------------------------*/

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12,
	.grid_13,
	.grid_14,
	.grid_15,
	.grid_16
	{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	}

	.container_12 .grid_3 {
		width: 23% !important;
	}
	.container_16 .grid_4
	{
	width: 23%;
	}

	.container_12 .grid_6 {
	/*width: 48% !important;*/

	}
	.container_16 .grid_8
	{
	width: 48%;
	}

	.container_12 .grid_9 {
		width: 73% !important;
	}
	.container_16 .grid_12
	{
	width: 73%;
	}

	.container_12 .grid_12 {
	width: 98% !important;
	}
	.container_16 .grid_16
	{
	width: 98%;
	}

	/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
	--------------------------------------------------------------------------------*/

	.alpha
	{
	margin-left: 0;
	}

	.omega
	{
	margin-right: 0;
	}

	/* =Grid >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .grid_1
	{
	width: 6.333%;
	}

	.container_12 .grid_2
	{
	width: 14.666%;
	}

	.container_12 .grid_4
	{
	width: 31.333%;
	}

	.container_12 .grid_5
	{
	width: 39.666%;
	}

	.container_12 .grid_7
	{
	width: 56.333%;
	}

	.container_12 .grid_8
	{
	width: 64.666%;
	}

	.container_12 .grid_10
	{
	width: 81.333%;
	}

	.container_12 .grid_11
	{
	width: 89.666%;
	}

	/* =Grid >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .grid_1
	{
	width: 4.25%;
	}

	.container_16 .grid_2
	{
	width: 10.5%;
	}

	.container_16 .grid_3
	{
	width: 16.75%;
	}

	.container_16 .grid_5
	{
	width: 29.25%;
	}

	.container_16 .grid_6
	{
	/*width: 31%;*/
	width: 35.5%;
	}

	.container_16 .grid_7
	{
	width: 41.75%;
	}

	.container_16 .grid_9
	{
	width: 54.25%;
	}

	.container_16 .grid_10
	{
	/*width: 65%;*/
	width: 60.5%;
	}

	.container_16 .grid_11
	{
	width: 66.75%;
	}

	.container_16 .grid_13
	{
	width: 79.25%;
	}

	.container_16 .grid_14
	{
	width: 85.5%;
	}

	.container_16 .grid_15
	{
	width: 91.75%;
	}

	/* =Prefix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_3,
	.container_16 .prefix_4
	{
	padding-left: 25%;
	}

	.container_12 .prefix_6,
	.container_16 .prefix_8
	{
	padding-left: 50%;
	}

	.container_12 .prefix_9,
	.container_16 .prefix_12
	{
	padding-left: 75%;
	}

	/* =Prefix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .prefix_1
	{
	padding-left: 8.333%;
	}

	.container_12 .prefix_2
	{
	padding-left: 16.666%;
	}

	.container_12 .prefix_4
	{
	padding-left: 33.333%;
	}

	.container_12 .prefix_5
	{
	padding-left: 41.666%;
	}

	.container_12 .prefix_7
	{
	padding-left: 58.333%;
	}

	.container_12 .prefix_8
	{
	padding-left: 66.666%;
	}

	.container_12 .prefix_10
	{
	padding-left: 83.333%;
	}

	.container_12 .prefix_11
	{
	padding-left: 91.666%;
	}

	/* =Prefix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .prefix_1
	{
	padding-left: 6.25%;
	}

	.container_16 .prefix_2
	{
	padding-left: 12.5%;
	}

	.container_16 .prefix_3
	{
	padding-left: 18.75%;
	}

	.container_16 .prefix_5
	{
	padding-left: 31.25%;
	}

	.container_16 .prefix_6
	{
	padding-left: 37.5%;
	}

	.container_16 .prefix_7
	{
	padding-left: 43.75%;
	}

	.container_16 .prefix_9
	{
	padding-left: 56.25%;
	}

	.container_16 .prefix_10
	{
	padding-left: 62.5%;
	}

	.container_16 .prefix_11
	{
	padding-left: 68.75%;
	}

	.container_16 .prefix_13
	{
	padding-left: 81.25%;
	}

	.container_16 .prefix_14
	{
	padding-left: 87.5%;
	}

	.container_16 .prefix_15
	{
	padding-left: 93.75%;
	}

	/* =Suffix Extra Space >> Global
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_3,
	.container_16 .suffix_4
	{
	padding-right: 25%;
	}

	.container_12 .suffix_6,
	.container_16 .suffix_8
	{
	padding-right: 50%;
	}

	.container_12 .suffix_9,
	.container_16 .suffix_12
	{
	padding-right: 75%;
	}

	/* =Suffix Extra Space >> 12 Columns
	--------------------------------------------------------------------------------*/

	.container_12 .suffix_1
	{
	padding-right: 8.333%;
	}

	.container_12 .suffix_2
	{
	padding-right: 16.666%;
	}

	.container_12 .suffix_4
	{
	padding-right: 33.333%;
	}

	.container_12 .suffix_5
	{
	padding-right: 41.666%;
	}

	.container_12 .suffix_7
	{
	padding-right: 58.333%;
	}

	.container_12 .suffix_8
	{
	padding-right: 66.666%;
	}

	.container_12 .suffix_10
	{
	padding-right: 83.333%;
	}

	.container_12 .suffix_11
	{
	padding-right: 91.666%;
	}

	/* =Suffix Extra Space >> 16 Columns
	--------------------------------------------------------------------------------*/

	.container_16 .suffix_1
	{
	padding-right: 6.25%;
	}

	.container_16 .suffix_2
	{
	padding-right: 16.5%;
	}

	.container_16 .suffix_3
	{
	padding-right: 18.75%;
	}

	.container_16 .suffix_5
	{
	padding-right: 31.25%;
	}

	.container_16 .suffix_6
	{
	padding-right: 37.5%;
	}

	.container_16 .suffix_7
	{
	padding-right: 43.75%;
	}

	.container_16 .suffix_9
	{
	padding-right: 56.25%;
	}

	.container_16 .suffix_10
	{
	padding-right: 62.5%;
	}

	.container_16 .suffix_11
	{
	padding-right: 68.75%;
	}

	.container_16 .suffix_13
	{
	padding-right: 81.25%;
	}

	.container_16 .suffix_14
	{
	padding-right: 87.5%;
	}

	.container_16 .suffix_15
	{
	padding-right: 93.75%;
	}
}

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after
{
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

* html .clearfix
{
	height: 1%;
}

.clearfix
{
	display: block;
}