.custom_color,
.custom_color_hover:hover,
.custom_color_active
{
	/*color: rgb(255, 255, 0) !important;*/
}
.custom_background,
.custom_background_hover:hover,
.custom_background_active
{
	/*background: rgb(255, 255, 0) !important;*/
}
/*.banner_title_substrate*/
/*{*/
	/*background: rgba(255, 255, 0, 0.9) !important;*/
/*}*/

@media screen and (min-width: 960px) {
	/*.short_cart_wrapper .short_cart_info .cart_item_count {*/
		/*color: rgb(255, 0, 255) !important;*/
	/*}*/
}

@media (max-width: 959px) and (min-width: 720px) {
	/*.header1 .search_wrapper .search_form*/
	/*{*/
		/*background: rgb(255, 255, 0) !important;*/
	/*}*/
	/*header menu ul > li:hover > a*/
	/*.short_cart_wrapper .short_cart_info .cart_item_count*/
	/*{*/
		/*color: rgb(255, 255, 0) !important;*/
	/*}*/
}

@media (max-width: 719px) {
	/*header menu ul > li:hover > a {*/
		/*color: rgb(255, 255, 0) !important;*/
	/*}*/

	/*.header1 .search_wrapper .search_form*/
	/*.cart_item_count,*/
	/*.cart_item_count_4*/
	/*{*/
		/*background: rgb(255, 255, 0) !important;*/
	/*}*/
}

/*HEADER COMMON START*/
/*PHONE WRAPPER COMMON START*/
/*PHONE WRAPPER COMMON END*/

/*SHORT CART WRAPPER COMMON START*/
/*SHORT CART WRAPPER COMMON END*/

/*FLYING LINE COMMON START*/
/*FLYING LINE COMMON END*/

/*HEADER COMMON END*/
