.list_view .list_buy_wrap {
	width: 46%;
}
.list_view .count_value {
	height: 24px;
	margin-top: 7px;
}
.top_panel {
	border: 1px solid #E9E9E9;
	border-bottom: none;
}
.product_btn {
	border: 1px solid #E9E9E9;
	border-top: none;
}
.product_item:hover {
	border-color: #E9E9E9 !important;
}
.footer1 menu > ul > li,
.footer2 menu > ul > li,
.footer5 menu > ul > li,
.footer6 menu > ul > li {
	margin-right: 26px;
}
.footer3 menu > ul > li,
.footer4 menu > ul > li {
	margin-right: 40px;
}
.popup_box #popup_wrapper {
	border: 1px solid #ccc;
}