.adm-firstbit .adm-main-menu-item-text {
    font-size: 10px;
}
.adm-main-menu-item-active.adm-firstbit .adm-main-menu-item-icon,
.adm-firstbit .adm-main-menu-item-icon,
.adm-firstbit:hover .adm-main-menu-item-icon {
    background: url(icons/firstbit.beautyshop/title.png) no-repeat;
    background-position: 22px center;
}
.firstbit_settings_icon {
    background-position: center -140px;
}