.solution-inner-item{
	border-top: 1px solid #e5e5e5 !important;
	padding-top: 30px !important;
	margin-top: 30px !important;
}
.solution-inner-item:first-child{
	margin-top: 0 !important;
}
.solution-inner-item h4{
	display: inline-block !important;
	margin: 0 0 5px 8px !important;
	vertical-align:top !important;
}
.solution-inner-item h4 + p{
	margin: 0 0 0 30px !important;
	font-size: 14px !important;
}
.instal-load-block .instal-load-label{
	font-size: 14px !important;
}
.wizard-field{width:100% !important;}
.inst-templ-color-name {
    display: block !important;
    font-size: 12px !important;
    width: 106px !important;
}
.wizard-cancel-button {
	background: url(ni/instal-sprite.png) no-repeat right -286px #94b922;
	background: url(ni/instal-sprite.png) no-repeat right -286px, -webkit-linear-gradient(top, #f46f30, #b34e47) 0 0;
	background: url(ni/instal-sprite.png) no-repeat right -286px, -moz-linear-gradient(top, #f46f30, #b34e47) 0 0;
	background: url(ni/instal-sprite.png) no-repeat right -286px, -ms-linear-gradient(top, #f46f30, #b34e47) 0 0;
	background: url(ni/instal-sprite.png) no-repeat right -286px, -o-linear-gradient(top, #f46f30, #b34e47) 0 0;
	background: url(ni/instal-sprite.png) no-repeat right -286px, linear-gradient(to bottom, #f46f30, #b34e47) 0 0;
	border: 1px solid;
	border-color: #ff9521 #ff6a31 #993119;
	-webkit-box-shadow: 0 1px 0 #cfcfcf, 0 1px 1px rgba(0,0,0,.4), inset 0 1px 0 #ffd5b6;
	box-shadow: 0 1px 0 #cfcfcf, 0 1px 1px rgba(0,0,0,.4), inset 0 1px 0 #ffd5b6;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 34px;
	min-width: 133px;
	height: 36px;
	margin: 0;
	padding: 0 30px 2px 23px;
	text-shadow: 0 1px rgba(0,0,0,.2);
	text-align: center;
	vertical-align: top;
}