.feedback {
	position: relative;
}
.feedback_inner {
	padding: 85px 0 75px;
}
.feedback_wrapper h2, .subscr_wrapper h2 {
	font-size: 22px;
	font-size: 1.375em;
	font-weight: bold;
}
.feedback p {
	font-size: 14px;
	font-size: 0.875em;
	margin: 16px 0 22px;
}
.feedback input {
	padding: 9px 10px;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 13px;
	line-height: 0.8125rem;
	border: 1px solid rgb(214,214,214);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}
#feedback_name {
	margin-right: 5px;
	width: 180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#feedback_email {
	width: 180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.feedback textarea {
	padding: 5px 15px;
	font-size: 0.8125em;
	line-height: 1.6em;
	border: 1px solid rgb(214,214,214);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}
#feedback_questions {
	margin: 15px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 75px;
	width: 370px;
}
.feedback_form > div {
	display: inline-block;
	width: 100%;
}
#status_FeedbackValidation, #status_SubscribeValidation {
	height: 30px;
	margin-left: 10px;
}
.subscr_wrapper {
	position: relative;
	padding: 40px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.subscr_inner {
	width: 250px;
}
.envelope {
	position: absolute;
	top: 45px;
	right: -30px;
	height: 170px;
	width: 170px;
	border: 4px solid #e7e7e7;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #fff url(img/mail.png) no-repeat;
	background-position: 45px 53px;
}
#subscribe {
	width: 250px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.envelope img {
	top: 53px;
	left: 47px;
	position: relative;
}
.envelope .ie8, .no-borderradius .envelope .no_ie8 {
	display: none;
}
.envelope .no_ie8 {
	display: block;
}
.header2 .top_menu {
	width: 38%;
}
.header2 .city_wrapper, .header2 .enter_wrapper, .header2 .first_header_line a {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 16px;
	line-height: 1rem;
	color: rgb(47, 63, 86);
}
.header2 .top_menu ul > li > a {
	display: inline-block;
	padding: 12px 7px;
	color: rgb(47, 63, 86);
}
.header2 .flexMenu-popup li {
	margin-right: 0px;
}
.header2 .phone_wrapper {
	top: 2px;
	margin: 10px 0;
	width: 20%;
	text-align: center;
}

.header2 .phone_wrapper .phone a {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 16px;
	line-height: 1rem;
	color: rgb(47, 63, 86);
}
.header2 .city_wrapper {
	margin: 0 20px 0 40px;
}
.city_wrapper.large .city_menu_body {
	width: 100%;
	left: 0;
}
.city_wrapper.large .city_menu_inner {
	padding: 20px 35px 30px;
	display: inline-block;
	text-align: left;
}
.city_wrapper.large .city_menu_body span {
	display: block;
	color: rgb(0,0,0);
	font-weight: bold;
	margin: 10px 0 20px;
}
.city_wrapper.large .city_menu_body ul li {
	width: 25%;
	display: block;
	float: left;
}
.city_wrapper .city_menu_body ul li a {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 24px;
	line-height: 1.5rem;
	color: rgb(64,67,71);
}

.mobile_nav_wrapper {
	position: absolute;
	width: 290px;
	left: -290px;
	min-height: 100%;
	background: rgb(255,255,255);
	z-index: 1500;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.mobile_nav_wrapper.open {
	left: 0;
	-webkit-box-shadow: 0 0 15px 5px rgb(70, 70, 70);
	-moz-box-shadow: 0 0 15px 5px rgb(70, 70, 70);
	box-shadow: 0 0 15px 5px rgb(70, 70, 70);
	-webkit-box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.4);
	-moz-box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.4);
	box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.4);
}
.mobile_nav_item {
	position: relative;
	width: 100%;
}
.login, .header_popup, .password_recovery_suc, .popup_inner, .callback, .fast_bye, .body_popup, .order_make, .order_make2, .password_recovery {
	position: relative;
}
.mobile_nav_item .enter_wrapper {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 16px;
	line-height: 1rem;
	color: rgb(255,255,255);
	display: block;
	top: 0;
	left: 0;
	float: none;
	padding: 30px 20px;
	border-bottom: 1px solid rgb(228, 228, 228);

}
.mobile_nav_item .enter_wrapper .login a {
	font-size: 13px;
	color: rgb(73, 81, 91);
}
.mobile_nav_item .enter_wrapper .login i {
	color: rgb(73,81,91);
}
.mobile_nav_item .enter_wrapper .login:hover i {
	color: rgb(255,0,255);
}

.mobile_nav_item .enter_wrapper .registration a {
	font-size: 13px;
	color: rgb(73,81,91);
}
.fa.vertical_split {
	display: inline-block;
	height: 15px;
	border-right: 1px solid rgb(200,200,200);
}
.mobile_nav_item .enter_wrapper .vertical_split {
	margin: 0 8px;
	position: relative;
	top: 3px;
}
.mobile_nav_item .enter_wrapper .fa.vertical_split {
	border-color: rgb(73,81,91);
}
.mobile_nav_item .search_wrapper {
	padding: 23px 15px;
	display: block;
	position: relative;
	border-bottom: 1px solid rgb(228, 228, 228);
}
.search_wrapper .search {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 10px;
	padding-right: 35px;
	height: 34px;
}
.mobile_nav_item .search_wrapper .search {
	height: 49px;
	background: #ffffff;
}
.mobile_nav_item .search_wrapper a {
	top: 40px;
	right: 26px;
	font-size: 16px;
}
.mobile_nav_item .icon_wrapper {
	padding: 20px 15px;
}

.mobile_nav_item .icon_wrapper .cart_wrapper, .mobile_nav_item .icon_wrapper .wishlist_wrapper, .mobile_nav_item .icon_wrapper .raiting_wrapper {
	margin: 7px 0;
}
.mobile_nav_item .icon_wrapper a {
	font-size: 14px;
	line-height: 22px;
}
.mobile_nav_item .icon_wrapper a i {
	color: rgb(89, 94, 115);
	font-size: 16px;
	width: 21px;
	display: inline-block;
}
.wishlist_wrapper a span, .raiting_wrapper a span, .cart_wrapper a span {
	margin-left: 5px;
	font-size: 13px;
	font-size: 0.8125rem;
}
.mobile_nav_item .icon_wrapper a span {
	font-weight: normal;
	display: inline-block;
	width: 75px;
}
.mobile_nav_item .icon_wrapper a span:last-child {
	font-weight: bold;
	width: 145px;
}
.mobile_nav_item .fa.fa-rub {
	font-size: 0.9em;
	margin-left: 5px;
}
.mobile_nav_item .mobile_nav_title {
	background: rgb(62, 162, 238);
	display: block;
	font-size: 16px;
	color: rgb(255,255,255);
	padding: 15px;
	cursor: pointer;
}
.mobile_nav_item .mobile_nav_title i {
	float: right;
	color: rgb(255,255,255);
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}
.mobile_nav_item .product_catalog {
	padding: 15px 0;
}
.mobile_nav_item .product_catalog li {
	padding: 0 15px;
	cursor: pointer;
}
.mobile_nav_item .product_catalog li i {
	margin-right: 10px;
}
.mobile_nav_item .product_catalog li span {
	font-size: 14px;
	line-height: 36px;
	font-weight: bold;
}
.mobile_nav_item .product_catalog li > ul.level2 {
	display: none;
}
.mobile_nav_item .product_catalog li > ul.level2 > li {
	font-size: 14px;
	padding: 5px 0 5px 33px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.mobile_nav_item .product_catalog li > ul.level2 > li a {
	font-size: 14px;
}

.smooth_block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 988;
	background: rgba(0,0,0,0.2);
}

@media (max-width: 959px) and (min-width: 720px) {
	#feedback_name, #feedback_email {
		width: 49% !important;
	}
	#feedback_email {
		float: right;
	}
	#subscribe, #feedback_questions {
		width: 100% !important;
	}
	.subscr_wrapper {
		margin-top: 40px;
	}
	.subscr_wrapper .subscr_inner {
		width: 75%;
	}
}

@media (max-width: 719px) {
	.feedback_inner {
		padding: 50px 0 30px;
	}
	.feedback_wrapper {
		margin-bottom: 30px;
		padding: 0 10px;
	}
	#feedback_name {
		width: 100%;
		margin-bottom: 15px;
	}
	#feedback_email {
		width: 100%;
	}
	#feedback_questions {
		width: 100%;
		height: 135px;
	}
	.subscr_wrapper {
		padding: 40px 10px;
	}
	.feedback_form .btn.round, .subscr_inner, #subscribe, #subscr_form .btn.round {
		width: 100%;
	}
}
